<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Tutorials</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="vue-app">
	<h1>Looping using v-for</h1>
	<ul>
		<li v-for="(language,index) in languages"> {{index}}.{{ language }} </li>
	</ul>
	<ul>
		<li v-for="(programmer,index) in programmers"> {{index}}.{{ programmer.name }} - {{ programmer.age }}</li>
	</ul>
</div>

<script type="text/javascript" src="app.js"></script>
</body>
</html>